spring:
  server:
    port: 8082

  config:
    activate:
      on-profile: local

  jpa:
    # ddl-auto deve estar aqui, fora do bloco 'properties'
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true


  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  datasource:
    url: jdbc:postgresql://localhost:5432/ms-escola
    username: admin
    password: 123456
    driver-class-name: org.postgresql.Driver

